.gameCard {
  position: relative;
  padding: 20px;
  margin-bottom: 25px;
  width: auto;
  height: 460px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: var(--bgColor);
  color: #fff;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35);
}

.gameCard img {
  border-radius: 20px;
  margin-bottom: 15px;
  object-fit: cover;
  object-position: center;
  height: 50%;
  width: 100%;
}
.gameCard .like {
  position: absolute;
  top: 24px;
  right: 19px;
  width: 40px;
  height: 40px;
  background-color: var(--bgColor);
  padding: 5px;
  border-radius: 0 0 0 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.gameCard .like.active {
  color: #ff0000;
}
.gameCard .gameFeature {
  display: flex;
  justify-content: space-between;
}

.gameCard .gameType {
  background-color: var(--secondary);
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 1rem;
}

.gameCard .gameTitle {
  margin-top: 10px;
  font-family: "Bauhaus 93 V2";
  text-transform: uppercase;
  font-size: 1.3rem;
}

.gameCard .gamePrice{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gameCard .discount{
    background: #ff0000;
    padding: 2px 5px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 800;
}

.gameCard .prePrice{
    text-decoration: line-through;
    text-decoration-color: #ff0000;
    text-decoration-thickness: 2.5px;
    font-size: 1.5rem;
}

.gameCard .currentPrice{
    font-size: 1.2rem;
    font-weight: 800;
}

.gameCard .addBag{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    padding: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 0 20px 0;
    font-size: 1.2rem;
    transition: 0.3s;
    background-color: var(--secondary);
}

.gameCard .addBag:hover{
    background-color: var(--primary);
}